.navbar{
    padding: 0;
    background-color:#D7F9F1;
}
.h1{
    background-color: #4F345A;
    font-size: 35px;
    margin-left: 20px;
}
.link{
    padding-right:25px;
    font-size: 20px;
    
}
a{
    color: black;
}
.p{
    border-left: solid black;
    border-right: solid black;
    padding-right: 3px;
    padding-left: 3px;
}
body{
    background-color: black;
}
h4{
    border-bottom:solid black;
}
.me{
    height: 200px;
    width: 200px;
}
.card{
    margin-top: 20px;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
textarea{
    height:300px;
    width:100%;
}
.card{
    height: 600px;
    border: solid 5px #4F345A;
}
.label{
    position:absolute;
    width: 150px;
    border-radius: 5px;
    background-color:#D7F9F1;
}
.img-thumbnail{
    width: 150px;
}
@media only screen and (max-width:640px){
    .navbar{
        display: flex;
        justify-content: center;
    }
    .navbar-brand{
        margin: 0px;
        text-align: center;
        width: 100%;
    }

    .img-thumbnail{
        height: 100px;
        width: 100px;
    }
    .label{
        width: 100px;
    }
    .pic{
        padding-bottom: 7px;
    }
    .link{
        padding:0;
    }
    .me{
        height: 100px;
        width: 100px;
    }
}