.navbar{
    padding: 0;
    background-color:#D7F9F1;
}
.h1{
    /* background: A; */
    font-size: 35px;
    margin-left: 20px;
}
.link{
    padding-right:25px;
}
.p{
    border-left: solid black;
    border-right: solid black;
    padding-right: 3px;
    padding-left: 3px;
}
body{
    background-color: rgb(133, 122, 122);
}
h4{
    border-bottom:solid black;
}
.me{
    height: 200px;
    width: 200px;
}
.card{
    margin-top: 20px;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
textarea{
    height:300px;
    width:100%;
}
.card{
    height: 600px;
}
.label{
    position:absolute;
    width: 150px;
    border-radius: 5px;
    background-color:#D7F9F1;
}
.img-thumbnail{
    width: 150px;
}
@media only screen and (max-width:640px){
    .navbar{
        display: flex;
        justify-content: center;
    }
    .img-thumbnail{
        height: 100px;
        width: 100px;
    }
    .label{
        width: 100px;
    }
    .pic{
        padding-bottom: 7px;
    }
}